mixin commonGaDb(key)
  case key
    when "tableOfContents"
      | Clár an Ábhar
    when "footerDisclaimer"
      | Is leagan gréasáin neamhoifigiúil den Chaighdeán Oifigiúil 2017 é seo.
    when "showHide"
      | Taispeáin/Folaigh
    when "menu"
      | Roghchlár
    when "teidealNaCaibidle"
      | Teideal na Caibidle
    when "Caibidil"
      | Caibidil
    when "Firinscneach"
      | Firinscneach
    when "Baininscneach"
      | Baininscneach
    when "FirAgusBain"
      | Firinscneach agus Baininscneach
    when "Consan"
      | Consan
    when "Guta"
      | Guta
    when "urú"
      | urú
    when "séimhiú"
      | séimhiú
    when "Tábla"
      | Tábla
    when "Ginearálta"
      | Ginearálta
    when "Uatha"
      | Uatha
    when "Iolra"
      | Iolra
    when "Ainmneach"
      | Ainmneach
    when "Ginideach"
      | Ginideach
    when "GachTuiseal"
      | Gach Tuiseal
    when "Nóta"
      | Nóta
    when "Inscne"
      | Inscne
    when "GanAthrú"
      | Gan athrú
    when "saBhrí"
      | sa bhrí
    when "SaBhrí-title"
      | Sa bhrí
    when "nod-u"
      | u.
    when "nod-iol"
      | iol.
    when "nod-sb"
      | sb.
    when "nó"
      | nó
    default
      - throw new Error(`No content for ${key}`)