mixin Table10A
  +markedTable("10", "A", "Table10A-caption")
    thead
      tr
        th(class="text-xl py-2" colspan="2"): +renderKey("Table10A-header")
    tbody
      tr
        th: +renderKey("Table10A-noun-header")
        th: +renderKey("Examples")
      tr
        td: +renderKey("Table10A-noun-rule-1")
        td an bhean; hata an fhir; don chlár; sa pháirc
      tr
        td: +renderKey("Table10A-noun-rule-2")
        td a bhuachaill; a dhaoine uaisle
      tr
        td: +renderKey("Table10A-noun-rule-3")
        td mo pheann; do chat; a ghuthán; gach uile dhuine; aon bhord
      tr
        td: +renderKey("Table10A-noun-rule-4")
        td aon chailín amháin; an chéad bhróg; dhá mhadra; trí bhád
      tr
        td: +renderKey("Table10A-noun-rule-5")
        td faoi bhord; um Cháisc; ar bhád; idir fhir agus mhná
      tr
        td: +renderKey("Table10A-noun-rule-6")
        td in aice Bhaile Átha Cliath; timpeall mhí na Nollag
      tr
        td: +renderKey("Table10A-noun-rule-7")
        td cloch shneachta; tuarascáil pharlaiminte
      tr
        td: +renderKey("Table10A-noun-rule-8")
        td éin chlóis; ceadúnais ghnó
      tr
        td: +renderKey("Table10A-noun-rule-9")
        td Cuan Bhaile Átha Cliath; doras Theach an Phiarsaigh
      tr
        td: +renderKey("Table10A-noun-rule-10")
        td Úna Nic Shuibhne; Isibéal Nig Fhloinn
      tr
        td: +renderKey("Table10A-noun-rule-11")
        td dea-cháil; deargbhuile; rósghairdín
      tr
        td: +renderKey("Table10A-noun-rule-12")
        td Ba mheicneoir é; Nár cheoltóir maith é?; Ba dhóigh leis gur ghadaí é.
      tr
        th: +renderKey("Table10A-adjective-header")
        th: +renderKey("Examples")
      tr
        td: +renderKey("Table10A-adjective-rule-1")
        td
          | feoil bhlasta; leis an mbean cháiliúil; a ghirseach chiúin;
          | úinéir an chapaill ghlais; a éin bhig; lipéid shothuigthe;
          | ar na scamaill mhóra dhubha; dhá ghadhar fhíochmhara;
          | dhá chat thanaí; trí fhuinneog mhóra
      tr
        td: +renderKey("Table10A-adjective-rule-2")
        td
          | laistigh de cheithre mhí; sa chúigiú háit; a dtríú hiarracht (
          i: +renderKey("ThirdPersonMasc")
          | ); bróga an cheathrú girseach

      tr
        td: +renderKey("Table10A-adjective-rule-3")
        td dhá bhróg; Bhí dháréag i láthair.
      tr
        td: +renderKey("Table10A-adjective-rule-4")
        td a dó dhéag; cúig bhó dhéag; trí cinn fhichead
      tr
        td: +renderKey("Table10A-adjective-rule-5")
        td beagmhaith; fíordheas; ollmhór
      tr
        td: +renderKey("Table10A-adjective-rule-6")
        td ba dheas; nár dhona; níor cheart
      tr
        th: +renderKey("Table10A-verb-header")
        th: +renderKey("Examples")
      tr
        td: +renderKey("Table10A-verb-rule-1")
        td
          | mhol mé; mholainn; mholfainn; an bhean a thiomáineann é;
          | má dhéanann tú; Is ann a cheannaíonn sé leabhair.
      tr
        td: +renderKey("Table10A-verb-rule-2")
        td ar chuir tú; nár phós sé; níor cheannaigh mé; sular tháinig sé
      tr
        th: +renderKey("Table10A-pronominal-header")
        th: +renderKey("Examples")
      tr
        td: +renderKey("Table10A-pronominal-rule-1")
        td ó shin i leith

mixin Table10B
  +markedTable("10", "B", "Table10B-caption")
    thead
      tr
        th(class="text-xl py-2" colspan="2"): +renderKey("Table10B-header")
    tbody
      tr
        th: +renderKey("Table10B-noun-header")
        th: +renderKey("Examples")
      tr
        td: +renderKey("Table10B-noun-rule-1")
        td ar an gcapall; leis an mbean; ón mbosca; tríd an bpáirc; seolta na mbád beag
      tr
        td: +renderKey("Table10B-noun-rule-2")
        td ár n&#x2011;athair; bhur bpáistí; a gcótaí; ár dhá gcapall; bhur dhá dteach
      tr
        td: +renderKey("Table10B-noun-rule-3")
        td seacht ndícheall; ocht gcinn
      tr
        td: +renderKey("Table10B-noun-rule-4")
        td i mbád; ar gcúl; go bhfios dom
      tr
        td: +renderKey("Table10B-noun-rule-5")
        td cá bhfios dó?
      tr
        th: +renderKey("Table10B-adjective-header")
        th: +renderKey("Examples")
      tr
        td: +renderKey("Table10B-adjective-rule-1")
        td
          | i gceithre leabhar; ar an gcúigiú duine; a dtríú hiarracht (
          i: +renderKey("ThirdPersonPl")
          | ); scéal mhadra na n&#x2011;ocht gcos

      tr
        th: +renderKey("Table10B-verb-header")
        th: +renderKey("Examples")
      tr
        td: +renderKey("Table10B-verb-rule-1")
        td an bhean a dtagann a páistí ar scoil; an bainne nach n&#x2011;óltar; tá a dteastódh uait acu; an leabhar dá dtagraítear
      tr
        td: +renderKey("Table10B-verb-rule-2")
        td an mbeidh; dá mbeadh; mura ndéanfaidh; Nach n&#x2011;ólann sé bainne?; ní bhfuair; ní bhfaighidh sé; ní bhfaighfeá

mixin Table10C
  +markedTable("10", "C", "Table10C-caption")
    thead
      tr
        th(class="text-xl py-2" colspan="2"): +renderKey("Table10C-header")
    tbody
      tr
        th: +renderKey("Table10C-Noun-Adjective-Header")
        th: +renderKey("Examples")
      tr
        td: +renderKey("Table10C-rule-1")
        td an t&#x2011;eitleán; an t&#x2011;aon duine; an t&#x2011;ochtú clár sa tsraith

mixin Table10D
  +markedTable("10", "D", "Table10D-caption")
    thead
      tr
        th(class="text-xl py-2" colspan="2"): +renderKey("Table10D-header")
    tbody
      tr
        th: +renderKey("Table10D-noun-header")
        th: +renderKey("Examples")
      tr
        td: +renderKey("Table10D-rule-1")
        td an tsúil; ar an tsráid; leis an tsreang; deireadh an tséasúir; eochair an tsiopadóra

mixin Table10E
  +markedTable("10", "E", "Table10E-caption")
    thead
      tr
        th(class="text-xl py-2" colspan="2"): +renderKey("Table10E-header")
    tbody
      tr
        th: +renderKey("Table10E-noun-header")
        th: +renderKey("Examples")
      tr
        td: +renderKey("Table10E-rule-1")
        td ainm na háite; na heitleáin; faoi na hábhair
      tr
        td: +renderKey("Table10E-rule-2")
        td an dara háit; an ceathrú halt
      tr
        td: +renderKey("Table10E-rule-3")
        td trí huaire
      tr
        td: +renderKey("Table10E-rule-4")
        td le hintinn mhaith; go hAlasca
      tr
        td: +renderKey("Table10E-rule-5")
        td Cá hiontas?
      tr
        td: +renderKey("Table10E-rule-6")
        td Seán Ó hAodha
      tr
        td: +renderKey("Table10E-rule-7")
        td Dé hAoine
      tr
        td: +renderKey("Table10E-rule-8")
        td a hathair; a húll
      tr
        td: +renderKey("Table10E-rule-9")
        td ní háibhéil é; ní hionadh é; ní hacmhainn di; ní healaín dó; ní huair chairde í; ní heolas go haontíos
      tr
        th: +renderKey("Table10E-adjective-header")
        th: +renderKey("Examples")
      tr
        td: +renderKey("Table10E-adjective-rule-1")
        td chomh hard le teach; go hálainn; le haon duine
      tr
        td: +renderKey("Table10E-adjective-rule-2")
        td ní haon ionadh é; ní hiondúil go dtarlaíonn sé; ní hamhlaidh nár insíodh di
      tr
        td: +renderKey("Table10E-adjective-rule-3")
        td a hocht; na hocht gcáipéis
      tr
        th: +renderKey("Table10E-pronominal-header")
        th: +renderKey("Examples")
      tr
        td: +renderKey("Table10E-pronominal-rule-1")
        td cé hí; ní hé
      tr
        td: +renderKey("Table10E-pronominal-rule-2")
        td ní héard; ní hin
      tr
        td: +renderKey("Table10E-pronominal-rule-3")
        td le hiad
      tr
        th: +renderKey("Table10E-verb-header")
        th: +renderKey("Examples")
      tr
        td: +renderKey("Table10E-verb-rule-1")
        td ná habair; ná himigh

mixin Table10F
  +markedTable("10", "F", "Table10F-caption")
    thead
      tr
        th(class="text-xl py-2" colspan="2"): +renderKey("Table10F-header")
    tbody
      tr
        th: +renderKey("Table10F-verb-header")
        th: +renderKey("Examples")
      tr
        td: +renderKey("Table10F-verb-rule-1")
        td d&rsquo;fhreagair sé; má d&rsquo;fheiceadh sé; d&rsquo;imigh sí; d&rsquo;aithneofaí í
