include ../../tlMatter.pug
if docLang === "EN"
  mixin tl(tlText)
    if tlText != null
      +inlineTl("EN", tlText)
    else
      +inlineTl("EN")
        block
    
  mixin tlDb(key)
    case key
      when "teidealNaCaibidle"
        | The Index
      default
        - throw new Error(`No content for ${key} (en.pug)`)