include ../bodyMatter.pug
include ./dbs/index.pug

+commonTemplate("ChoisteChomhairligh")
  +hx(1, "Members of the Advisory Committee", "ChoisteChomhairligh")
    b An Dr Éamonn Ó hÓgáin (#[+renderKey("Cathaoirleach")]),
    br
    | #[+renderKey("name1-line1")]
    br
    | #[+renderKey("name1-line2")]
    hr

    b Máirín de Brún,
    br
    | #[+renderKey("name2-line1")]
    br
    | #[+renderKey("name2-line2")]
    hr

    b An Dr Deirbhile Nic Craith,
    br
    | #[+renderKey("name3-line1")]
    br
    | #[+renderKey("name3-line2")]
    hr
    
    b An Dr Malachy Ó Néill,
    br
    | #[+renderKey("name4-line1")]
    br
    | #[+renderKey("name4-line2")]
    hr

    b Éamonn Ó Dónaill,
    br
    | #[+renderKey("name5-line1")]
    br
    | #[+renderKey("name5-line2")]
    hr

    b Séamas de Barra,
    br
    | #[+renderKey("name6-line1")]
    br
    | #[+renderKey("name6-line2")]
    hr

    b Colmcille Ó Monacháin,
    br
    | #[+renderKey("name7-line1")]
    br
    | #[+renderKey("name7-line2")]
    hr

    b Gráinne Ní Lúbaigh,
    br
    | #[+renderKey("name8-line1")]
    br
    | #[+renderKey("name8-line2")]
    br
    | #[+renderKey("name8-line3")]
    hr

    b Maeve Eason,
    br
    | #[+renderKey("name9-line1")]
    hr

    b Tadhg Ó hÚrdail,
    br
    | #[+renderKey("name10-line1")]
    br
    | #[+renderKey("name10-line2")]
    hr

    b Eoin Ó Droighneáin,
    br
    | #[+renderKey("name11-line1")]
    br
    | #[+renderKey("name11-line2")]
    br
    | #[+renderKey("name11-line3")]
    hr

    b Bríd de Staic,
    br
    | #[+renderKey("name12-line1")]
    hr

    b Oilibhéar de Búrca,
    br
    | #[+renderKey("name13-line1")]
    br
    | #[+renderKey("name13-line2")]
    hr

    b Labhrás Ó Finneadha,
    br
    | #[+renderKey("name14-line1")]
    br
    | #[+renderKey("name14-line2")]
    hr

    b Colm Breathnach,
    br
    | #[+renderKey("name15-line1")]
    br
    | #[+renderKey("name15-line2")]
    hr

    b An Dr Ciarán Mac Murchaidh,
    br
    | #[+renderKey("name16-line1")]
    br
    | #[+renderKey("name16-line2")]
    hr

    b Áine Ní Chonghaile,
    br
    | #[+renderKey("name17-line1")]
    hr

    b An Fhoireann Tacaíochta
    hr

    b Breda Ní Mhaoláin,
    br
    | #[+renderKey("name18-line1")]
    hr

    b Julie O&rsquo;Farrell,
    br
    | #[+renderKey("name19-line1")]