include ../bodyMatter.pug
include ./dbs/index.pug

+commonTemplate("GrammarNotesTitle")
  +hx(1, "GrammarNotesTitle", "GrammarNotesTitle")
    table.grammar-notes-chapter(class="my-1")
      thead
        tr
          th(colspan="2")
            +renderKey("Abbreviation")
      tbody
        tr
          td: b ar lean.
          td ar leanúint
        tr
          td: b bain.
          td baininscneach
        tr
          td: b fir.
          td firinscneach
        tr
          td: b gin.
          td tuiseal ginideach
        tr
          td: b gin. iol.
          td tuiseal ginideach iolra
        tr
          td: b iol.
          td iolra
        tr
          td: b sb.
          td saorbhriathar
        tr
          td: b tabh.
          td tuiseal tabharthach
        tr
          td: b u.
          td uatha
        tr
          td: b ()
          td: +renderKey("parens-meaning")

    table.grammar-notes-chapter(class="my-1")
      thead
        tr
          th(colspan="2")
            +renderKey("GrammarNotes")
      tbody
        tr
          td: +renderKey("row1-term")
          td: +renderKey("row1-definition")
        tr
          td: +renderKey("row2-term")
          td: +renderKey("row2-definition")
        tr
          td: +renderKey("row3-term")
          td: +renderKey("row3-definition")
        tr
          td: +renderKey("row4-term")
          td: +renderKey("row4-definition")
        tr
          td: +renderKey("row5-term")
          td: +renderKey("row5-definition")
        tr
          td: +renderKey("row6-term")
          td: +renderKey("row6-definition")
        tr
          td: +renderKey("row7-term")
          td: +renderKey("row7-definition")
        tr
          td: +renderKey("row8-term")
          td: +renderKey("row8-definition")
        tr
          td: +renderKey("row9-term")
          td: +renderKey("row9-definition")
        tr
          td: +renderKey("row10-term")
          td: +renderKey("row10-definition")
        tr
          td: +renderKey("row11-term")
          td: +renderKey("row11-definition")
        tr
          td: +renderKey("row12-term")
          td: +renderKey("row12-definition")
        tr
          td: +renderKey("row13-term")
          td: +renderKey("row13-definition")
        tr
          td: +renderKey("row14-term")
          td: +renderKey("row14-definition")
        tr
          td: +renderKey("row15-term")
          td: +renderKey("row15-definition")
        tr
          td: +renderKey("row16-term")
          td: +renderKey("row16-definition")
        tr
          td: +renderKey("row17-term")
          td: +renderKey("row17-definition")
        tr
          td: +renderKey("row18-term")
          td: +renderKey("row18-definition")
        tr
          td: +renderKey("row19-term")
          td: +renderKey("row19-definition")
        tr
          td: +renderKey("row20-term")
          td: +renderKey("row20-definition")
        tr
          td: +renderKey("row21-term")
          td: +renderKey("row21-definition")
        tr
          td: +renderKey("row22-term")
          td: +renderKey("row22-definition")
        tr
          td: +renderKey("row23-term")
          td: +renderKey("row23-definition")
        tr
          td: +renderKey("row24-term")
          td: +renderKey("row24-definition")
        tr
          td: +renderKey("row25-term")
          td: +renderKey("row25-definition")
        tr
          td: +renderKey("row26-term")
          td: +renderKey("row26-definition")
        tr
          td: +renderKey("row27-term")
          td: +renderKey("row27-definition")
        tr
          td: +renderKey("row28-term")
          td: +renderKey("row28-definition")
        tr
          td: +renderKey("row29-term")
          td: +renderKey("row29-definition")
        tr
          td: +renderKey("row30-term")
          td: +renderKey("row30-definition")
        tr
          td: +renderKey("row31-term")
          td: +renderKey("row31-definition")
        tr
          td: +renderKey("row32-term")
          td: +renderKey("row32-definition")
        tr
          td: +renderKey("row33-term")
          td: +renderKey("row33-definition")
