if docLang === "EN"
  +hx(2, "A")
    ol
      li abbreviation: #[+linkDb("giorrúchán_links")]
        ol
          li adjectival function #[+linkDb("giorrúchán_feidhm_aidiachtach_links")]
          li plural #[+linkDb("giorrúchán_iolra_links")]
          li with the article #[+linkDb("giorrúchán_leis_an_alt_links")]
          li without the article #[+linkDb("giorrúchán_gan_an_t-alt_links")]

      li accusative case: #[+linkDb("cuspóireach_links")]

      li acronym: #[+linkDb("acrainm_links")]
        ol
          li adjectival function #[+linkDb("acrainm_feidhm_aidiachtach_links")]
          li plural #[+linkDb("acrainm_iolra_links")]
          li with the article #[+linkDb("acrainm_leis_an_alt_links")]
          li without the article #[+linkDb("acrainm_gan_an_talt_links")]

      li adjective: #[+linkDb("aidiacht_links")]
        ol
          li adverbial #[+linkDb("aidiacht_dobhriathra_links")]
          li case #[+linkDb("aidiacht_tuiseal_links")]
          li comparative degree #[+linkDb("aidiacht_breischéim_links")]
          li consonant, broad #[+linkDb("aidiacht_consan_leathan_links")]
          li consonant, slender #[+linkDb("aidiacht_consan_caol_links")]
          li declension, first #[+linkDb("aidiacht_an_chéad_díochlaonadh_links")]
          li declension, second #[+linkDb("aidiacht_an_dara_díochlaonadh_links")]
          li declension, third #[+linkDb("aidiacht_an_tríú_díochlaonadh_links")]
          li demonstrative adjectives #[+linkDb("aidiacht_aidiacht_thaispeántach_links")]
          li eclipsis #[+linkDb("aidiacht_urú_links")]
          li emphatic particle #[+linkDb("aidiacht_mír_réimír_threise_links")]
          li feminine #[+linkDb("aidiacht_baininscneach_links")]
          li gender #[+linkDb("aidiacht_inscne_links")]
          li genitive #[+linkDb("aidiacht_ginideach_links")]
          li irregular forms #[+linkDb("aidiacht_foirmeacha_neamhrialta_links")]
          li lenition #[+linkDb("aidiacht_séimhiú_links")]
          li Lenition System #[+linkDb("aidiacht_Córas_an_tSéimhithe_links")]
          li masculine #[+linkDb("aidiacht_firinscneach_links")]
          li monosyllabic adjectives #[+linkDb("aidiacht_aidiachtaí_aonsiollacha_links")]
          li nominative #[+linkDb("aidiacht_ainmneach_links")]
          li number #[+linkDb("aidiacht_uimhir_links")]
          li partitive adjectives #[+linkDb("aidiacht_aidiacht_rannach_links")]
          li plural #[+linkDb("aidiacht_iolra_links")]
          li possessive #[+linkDb("aidiacht_uatha_links")]
          li possessive adjectives #[+linkDb("aidiacht_aidiacht_shealbhach_links")]
          li qualitative adjectives #[+linkDb("aidiacht_aidiacht_cháilíochta_links")]
          li summary #[+linkDb("aidiacht_achoimre_links")]
          li syncope #[+linkDb("aidiacht_coimriú_links")]
          li vocative #[+linkDb("aidiacht_gairmeach_links")]

      li adverb: #[+linkDb("dobhriathar_links")]
        li: ol
          li adjective #[+linkDb("dobhriathar_aidiacht_links")]
          li adverb in measurement contexts #[+linkDb("dobhriathar_i_gcúrsaí_tomhais_links")]
          li comparative adverb #[+linkDb("dobhriathar_dobhriathar_breischéime_links")]
          li compass points #[+linkDb("dobhriathar_airde_an_chompáis_links")]
          li directional adverb #[+linkDb("dobhriathar_dobhriathar_treo_links")]
          li frequency adverb #[+linkDb("dobhriathar_dobhriathar_minicíochta_links")]
          li intensifying adverb #[+linkDb("dobhriathar_dobhriathar_treise_links")]
          li interrogative adverb #[+linkDb("dobhriathar_dobhriathar_ceisteach_links")]
          li adverb used as adjective #[+linkDb("dobhriathar_dobhriathar_a_úsáid_go_haidiachtach_links")]
          li modal adverb #[+linkDb("dobhriathar_dobhriathar_modha_links")]
          li noun #[+linkDb("dobhriathar_ainmfhocal_links")]
          li place adverb #[+linkDb("dobhriathar_dobhriathar_áite_links")]
          li quantitative adverb #[+linkDb("dobhriathar_dobhriathar_cainníochta_links")]
          li temporal adverb/adverb of time #[+linkDb("dobhriathar_dobhriathar_ama_links")]

      li article: #[+linkDb("an_t_alt_links")]
        li: ol
          li abstract meaning #[+linkDb("an_t_alt_brí_theibí_links")]
          li battle cries #[+linkDb("an_t_alt_roisc_chatha_links")]
          li conceptual meaning #[+linkDb("an_t_alt_brí_choincheapúil_links")]
          li countries #[+linkDb("an_t_alt_tíortha_links")]
          li dates #[+linkDb("an_t_alt_dátaí_links")]
          li days of the week #[+linkDb("an_t_alt_laethanta_na_seachtaine_links")]
          li definite noun #[+linkDb("an_t_alt_ainmfhocal_cinnte_links")]
          li diseases #[+linkDb("an_t_alt_tinnis_links")]
          li distributive use #[+linkDb("an_t_alt_úsáid_dháileach_links")]
          li festivals #[+linkDb("an_t_alt_féilte_links")]
          li form #[+linkDb("an_t_alt_foirm_links")]
          li government department titles #[+linkDb("an_t_alt_teidil_ranna_rialtais_links")]
          li languages #[+linkDb("an_t_alt_teangacha_links")]
          li months of the year #[+linkDb("an_t_alt_míonna_na_bliana_links")]
          li mountains #[+linkDb("an_t_alt_sléibhte_links")]
          li official titles #[+linkDb("an_t_alt_teidil_oifige_links")]
          li person's title #[+linkDb("an_t_alt_teideal_duine_links")]
          li prayers #[+linkDb("an_t_alt_paidreacha_links")]
          li regions #[+linkDb("an_t_alt_réigiúin_links")]
          li rivers #[+linkDb("an_t_alt_aibhneacha_links")]
          li towns #[+linkDb("an_t_alt_bailte_links")]

  +hx(2, "B")
    ol
      li brackets: #[+linkDb("lúibíní_links")]

  +hx(2, "C")
    ol
      li copula: #[+linkDb("an_chopail_links")]
      li: ol
        li #[i dá] (two) #[+linkDb("an_chopail_dá_links")]
        li #[i má] (if) #[+linkDb("an_chopail_má_links")]
        li after #[i ní] #[+linkDb("an_chopail_i_ndiaidh_ní_links")]
        li compound forms #[+linkDb("an_chopail_foirmeacha_cumaisc_links")]
        li conjunctions #[+linkDb("an_chopail_cónaisc_links")]
        li direct relative clause #[+linkDb("an_chopail_clásal_coibhneasta_díreach_links")]
        li functions #[+linkDb("an_chopail_feidhmeanna_links")]
        li indirect relative clause #[+linkDb("an_chopail_clásal_coibhneasta_indíreach_links")]
        li initial mutations #[+linkDb("an_chopail_athruithe_tosaigh_links")]
        li interrogative pronominal #[+linkDb("an_chopail_forainmneach_ceisteach_links")]
        li lenition #[+linkDb("an_chopail_séimhiú_links")]
        li prepositions #[+linkDb("an_chopail_réamhfhocail_links")]
        li simple forms #[+linkDb("an_chopail_foirmeacha_simplí_links")]
        li subjunctive mood #[+linkDb("an_chopail_modh_foshuiteach_links")]

  +hx(2, "D")
    ol
      li #[i de chuid]: #[+linkDb("de_chuid_links")]

      li dative: #[+linkDb("tabharthach_links")]
      li: ol
        li Core System #[+linkDb("tabharthach_an_Córas_Lárnach_links")]
        li Lenition System #[+linkDb("tabharthach_Córas_an_tSéimhithe_links")]
        li partitive dative #[+linkDb("tabharthach_tabharthach_rannaíoch_links")]

  +hx(2, "E")
    ol
      li eclipsable consonants: #[+linkDb("consan_inuraithe_links")]

  +hx(2, "G")
    ol
      li #[i gach]: #[+linkDb("gach_links")]

      li genitive: #[+linkDb("ginideach_links")]
        ol
          li #[i chun] #[+linkDb("ginideach_chun_links")]
          li feminine #[+linkDb("ginideach_baininscneach_links")]
          li masculine #[+linkDb("ginideach_firinscneach_links")]
          li qualifier #[+linkDb("ginideach_cáilitheoir_links")]
          li plurals, strong #[+linkDb("ginideach_tréaniolraí_links")]
          li plurals, weak #[+linkDb("ginideach_lagiolraí_links")]

  +hx(2, "H")
    ol
      li hyphen: #[+linkDb("fleiscín_links")]

  +hx(2, "I")
    ol
      li initial mutations: #[+linkDb("athruithe_tosaigh_links")]
        ol
          li summary #[+linkDb("athruithe_tosaigh_achoimre_links")]

  +hx(2, "L")
    ol
      li lenitable consonants: #[+linkDb("consan_inséimhithe_links")]

      li lenition following feminine noun: #[+linkDb("séimhiú_i_ndiaidh_ainmfhocal_baininscneach_links")]

      li lenition following noun in the plural that ends in a slender consonant: #[+linkDb("séimhiú_i_ndiaidh_ainmfhocal_baininscneach_séimhiú_i_ndiaidh_ainmfhocal_san_iolra_a_chríochnaíonn_ar_chonsan_caol_links")]

  +hx(2, "N")
    ol
      li nominative: #[+linkDb("ainmneach_links")]
        ol
          li nominative plural #[+linkDb("ainmneach_iolra_links")]
          li nominative singular #[+linkDb("ainmneach_uatha_links")]

      li nominative in place of the genitive: #[+linkDb("ainmneach_in_ionad_an_ghinidigh_links")]
        ol
          li #[i chun] (for) #[+linkDb("ainmneach_in_ionad_an_ghinidigh_chun_links")]
          li association names #[+linkDb("ainmneach_in_ionad_an_ghinidigh_ainm_cumainn_links")]
          li company names #[+linkDb("ainmneach_in_ionad_an_ghinidigh_ainm_comhlachta_links")]
          li compound preposition #[+linkDb("ainmneach_in_ionad_an_ghinidigh_réamhfhocal_comhshuite_links")]
          li definite noun #[+linkDb("ainmneach_in_ionad_an_ghinidigh_ainmfhocal_cinnte_links")]
          li definite quantity #[+linkDb("ainmneach_in_ionad_an_ghinidigh_cainníocht_chinnte_links")]
          li emphatic particle #[+linkDb("ainmneach_in_ionad_an_ghinidigh_réimír_threise_links")]
          li indefinite adjective #[+linkDb("ainmneach_in_ionad_an_ghinidigh_aidiacht_éiginnte_links")]
          li indefinite quantity #[+linkDb("ainmneach_in_ionad_an_ghinidigh_cainníocht_éiginnte_links")]
          li noun in adjective form #[+linkDb("ainmneach_in_ionad_an_ghinidigh_ainmfhocal_i_gcáil_aidiachta_links")]
          li partitive genitive #[+linkDb("ainmneach_in_ionad_an_ghinidigh_ginideach_rannaíoch_links")]
          li program names #[+linkDb("ainmneach_in_ionad_an_ghinidigh_ainm_cláir_links")]
          li qualified indefinite noun #[+linkDb("ainmneach_in_ionad_an_ghinidigh_ainmfhocal_éiginnte_cáilithe_links")]
          li qualifier #[+linkDb("ainmneach_in_ionad_an_ghinidigh_cáilitheoir_links")]
          li qualitative adjective #[+linkDb("ainmneach_in_ionad_an_ghinidigh_aidiacht_cháilíochta_links")]
          li relative clause #[+linkDb("ainmneach_in_ionad_an_ghinidigh_clásal_coibhneasta_links")]
          li specific multi-word phrases #[+linkDb("ainmneach_in_ionad_an_ghinidigh_frásaí_ilfhoclacha_áirithe_links")]
          li summary #[+linkDb("ainmneach_in_ionad_an_ghinidigh_achoimre_links")]
          li verbal noun #[+linkDb("ainmneach_in_ionad_an_ghinidigh_ainm_briathartha_links")]

      li noun: #[+linkDb("ainmfhocal_links")]
        ol
          li broadening #[+linkDb("ainmfhocal_leathnú_links")]
          li common nouns #[+linkDb("ainmfhocal_ainmneacha_ceana_links")]
          li compound #[+linkDb("ainmfhocal_comhfhocal_links")]
          li declension, fifth #[+linkDb("ainmfhocal_an_cúigiú_díochlaonadh_links")]
          li declension, first #[+linkDb("ainmfhocal_an_chéad_díochlaonadh_links")]
          li declension, fourth #[+linkDb("ainmfhocal_an_ceathrú_díochlaonadh_links")]
          li declension, second #[+linkDb("ainmfhocal_an_dara_díochlaonadh_links")]
          li declension, third #[+linkDb("ainmfhocal_an_tríú_díochlaonadh_links")]
          li definite #[+linkDb("ainmfhocal_cinnte_links")]
          li exchange #[+linkDb("ainmfhocal_malartú_links")]
          li feminine #[+linkDb("ainmfhocal_baininscneach_links")]
          li indefinite #[+linkDb("ainmfhocal_éiginnte_links")]
          li irregular nouns #[+linkDb("ainmfhocal_ainmfhocail_neamhrialta_links")]
          li lenition #[+linkDb("ainmfhocal_séimhiú_links")]
          li masculine #[+linkDb("ainmfhocal_firinscneach_links")]
          li narrowing #[+linkDb("ainmfhocal_caolú_links")]
          li plural #[+linkDb("ainmfhocal_iolra_links")]
          li plurals, strong #[+linkDb("ainmfhocal_tréaniolraí_links")]
          li plurals, weak #[+linkDb("ainmfhocal_lagiolraí_links")]
          li proper noun #[+linkDb("ainmfhocal_ainm_dílis_links")]
          li syncope #[+linkDb("ainmfhocal_coimriú_links")]
          li years #[+linkDb("ainmfhocal_blianta_links")]

      li noun in the plural that ends in a slender consonant: #[+linkDb("ainmfhocal_san_iolra_a_chríochnaíonn_ar_chonsan_caol_links")]

      li number: #[+linkDb("uimhir_links")]
        ol
          li #[i déag] #[+linkDb("uimhir_déag_links")]
          li adjective #[+linkDb("uimhir_aidiacht_links")]
          li article #[+linkDb("uimhir_an_t-alt_links")]
          li bare number #[+linkDb("uimhir_maoluimhir_links")]
          li cardinal number #[+linkDb("uimhir_bunuimhir_links")]
          li decimal number #[+linkDb("uimhir_uimhir_dheachúlach_links")]
          li eclipsis #[+linkDb("uimhir_urú_links")]
          li established system #[+linkDb("uimhir_córas_seanbhunaithe_links")]
          li figures #[+linkDb("uimhir_figiúirí_links")]
          li fraction #[+linkDb("uimhir_codán_links")]
          li genitive #[+linkDb("uimhir_ginideach_links")]
          li lenition #[+linkDb("uimhir_séimhiú_links")]
          li ordinal number #[+linkDb("uimhir_orduimhir_links")]
          li personal number #[+linkDb("uimhir_uimhir_phearsanta_links")]
          li plural forms #[+linkDb("uimhir_leaganacha_iolra_links")]
          li simplified system #[+linkDb("uimhir_córas_simplithe_links")]
          li summary #[+linkDb("uimhir_achoimre_links")]
          li tens #[+linkDb("uimhir_deicheanna_links")]

  +hx(2, "P")
    ol
      li place names: #[+linkDb("logainmneacha_links")]
        ol
          li countries #[+linkDb("logainmneacha_tíortha_links")]
          li Ireland #[+linkDb("logainmneacha_Éire_links")]
          li mountains #[+linkDb("logainmneacha_sléibhte_links")]
          li regions #[+linkDb("logainmneacha_réigiúin_links")]
          li rivers #[+linkDb("logainmneacha_aibhneacha_links")]
          li towns #[+linkDb("logainmneacha_bailte_links")]

      li preposition: #[+linkDb("réamhfhocal_links")]
        ol
          li compound preposition #[+linkDb("réamhfhocal_réamhfhocal_comhshuite_links")]
          li eclipsis #[+linkDb("réamhfhocal_urú_links")]
          li compound #[+linkDb("réamhfhocal_i_gcumasc_links")]
          li lenition #[+linkDb("réamhfhocal_séimhiú_links")]
          li prepositional subordinate clause #[+linkDb("réamhfhocal_fochlásal_réamhfhoclach_links")]

      li pronominal: #[+linkDb("forainmneach_links")]
        ol
          li #[i arna] #[+linkDb("forainmneach_arna_links")]
          li #[i dhá] #[+linkDb("forainmneach_dhá_links")]
          li #[i thú] #[+linkDb("forainmneach_thú_links")]
          li compound #[+linkDb("forainmneach_i_gcumasc_links")]
          li demonstrative pronominal #[+linkDb("forainmneach_forainmneach_taispeántach_links")]
          li interrogative pronominal #[+linkDb("forainmneach_forainmneach_ceisteach_links")]
          li masculine singular #[+linkDb("forainmneach_firinscneach_uatha_links")]
          li object of the verbal noun #[+linkDb("forainmneach_cuspóir_ainm_bhriathartha_links")]
          li personal pronominal #[+linkDb("forainmneach_forainmneach_pearsanta_links")]
          li possessive adjective #[+linkDb("forainmneach_aidiacht_shealbhach_links")]
          li preposition #[+linkDb("forainmneach_réamhfhocal_links")]
          li prepositional pronominal #[+linkDb("forainmneach_forainmneach_réamhfhoclach_links")]
          li proleptic pronominal #[+linkDb("forainmneach_forainmneach_réamhthagrach_links")]
          li strong form #[+linkDb("forainmneach_foirm_threise_links")]

  +hx(2, "R")
    ol
      li relative clause: #[+linkDb("an_clásal_coibhneasta_links")]
        ol
          li adverb #[+linkDb("an_clásal_coibhneasta_dobhriathar_links")]
          li antecedents #[+linkDb("an_clásal_coibhneasta_réamhtheachtaí_links")]
          li comparative clause #[+linkDb("an_clásal_coibhneasta_clásal_breischéime_links")]
          li compound forms #[+linkDb("an_clásal_coibhneasta_foirmeacha_cumaisc_links")]
          li dependent form #[+linkDb("an_clásal_coibhneasta_an_fhoirm_spleách_links")]
          li direct relative clause #[+linkDb("an_clásal_coibhneasta_clásal_coibhneasta_díreach_links")]
          li independent form #[+linkDb("an_clásal_coibhneasta_an_fhoirm_neamhspleách_links")]
          li indirect relative clause #[+linkDb("an_clásal_coibhneasta_clásal_coibhneasta_indíreach_links")]
          li main clause #[+linkDb("an_clásal_coibhneasta_príomhchlásal_links")]
          li parenthetical clause #[+linkDb("an_clásal_coibhneasta_clásal_idiraisnéiseach_links")]
          li prepositions #[+linkDb("an_clásal_coibhneasta_réamhfhocail_links")]
          li relative form #[+linkDb("an_clásal_coibhneasta_an_fhoirm_choibhneasta_links")]
          li relative particle #[+linkDb("an_clásal_coibhneasta_an_mhír_choibhneasta_links")]
          li subordinate clause #[+linkDb("an_clásal_coibhneasta_fochlásal_links")]
          li successor #[+linkDb("an_clásal_coibhneasta_iartheachtaí_links")]

  +hx(2, "S")
    ol
      li slender consonant: #[+linkDb("consan_caol_links")]
        ol
          li adjective #[+linkDb("consan_caol_aidiacht_links")]
          li genitive singular #[+linkDb("consan_caol_ginideach_uatha_links")]
          li nominative plural #[+linkDb("consan_caol_ainmneach_iolra_links")]

      li surnames: #[+linkDb("sloinnte_links")]

  +hx(2, "V")
    ol
      li verb: #[+linkDb("briathar_links")]
        ol
          li #[i má] and #[i nuair] #[+linkDb("briathar_má_agus_nuair_links")]
          li #[i muid] #[+linkDb("briathar_muid_links")]
          li #[i ná] #[+linkDb("briathar_ná_links")]
          li conjugation, first #[+linkDb("briathar_an_chéad_réimniú_links")]
          li conjugation, second #[+linkDb("briathar_an_dara_réimniú_links")]
          li dependent #[+linkDb("briathar_spleách_links")]
          li eclipsis #[+linkDb("briathar_urú_links")]
          li independent #[+linkDb("briathar_neamhspleách_links")]
          li irregular #[+linkDb("briathar_neamhrialta_links")]
          li lenition #[+linkDb("briathar_séimhiú_links")]
          li monosyllabic roots #[+linkDb("briathar_fréamhacha_aonsiollacha_links")]
          li negative particle #[+linkDb("briathar_an_mhír_dhiúltach_links")]
          li polysyllabic roots #[+linkDb("briathar_fréamhacha_ilsiollacha_links")]
          li subjunctive mood #[+linkDb("briathar_an_modh_foshuiteach_links")]
          li syncope #[+linkDb("briathar_coimriú_links")]
          li verbal adjective #[+linkDb("briathar_aidiacht_bhriathartha_links")]
          li verbal noun #[+linkDb("briathar_ainm_briathartha_links")]

      li verbal noun: #[+linkDb("ainm_briathartha_links")]
        ol
          li adjectival function #[+linkDb("ainm_briathartha_feidhm_aidiachta_links")]
          li conjugation, first #[+linkDb("ainm_briathartha_an_chéad_réimniú_links")]
          li conjugation, second #[+linkDb("ainm_briathartha_an_dara_réimniú_links")]
          li declension #[+linkDb("ainm_briathartha_díochlaonadh_links")]
          li genitive #[+linkDb("ainm_briathartha_ginideach_links")]
          li nominal function #[+linkDb("ainm_briathartha_feidhm_ainmfhocail_links")]
          li plural #[+linkDb("ainm_briathartha_iolra_links")]

      li vocative: #[+linkDb("gairmeach_links")]
        ol
          li vocative particle #[+linkDb("gairmeach_an_mhír_ghairmeach_links")]
          li vocative plural #[+linkDb("gairmeach_gairmeach_iolra_links")]
          li vocative singular #[+linkDb("gairmeach_gairmeach_uatha_links")]
