if docLang === "GA"
  +hx(2, "A")
    ol
      li acrainm: #[+linkDb("acrainm_links")]
        ol
          li feidhm aidiachtach #[+linkDb("acrainm_feidhm_aidiachtach_links")]
          li gan an t&#x2011;alt #[+linkDb("acrainm_gan_an_t-alt_links")]
          li iolra #[+linkDb("acrainm_iolra_links")]
          li leis an alt #[+linkDb("acrainm_leis_an_alt_links")]
    ol
      li aidiacht: #[+linkDb("aidiacht_links")]
        ol
          li achoimre #[+linkDb("aidiacht_achoimre_links")]
          li aidiachtaí aonsiollacha #[+linkDb("aidiacht_aidiachtaí_aonsiollacha_links")]
          li aidiacht cháilíochta #[+linkDb("aidiacht_aidiacht_cháilíochta_links")]
          li aidiacht rannach #[+linkDb("aidiacht_aidiacht_rannach_links")]
          li aidiacht shealbhach #[+linkDb("aidiacht_aidiacht_shealbhach_links")]
          li aidiacht thaispeántach #[+linkDb("aidiacht_aidiacht_thaispeántach_links")]
          li ainmneach #[+linkDb("aidiacht_ainmneach_links")]
          li an chéad díochlaonadh #[+linkDb("aidiacht_an_chéad_díochlaonadh_links")]
          li an dara díochlaonadh #[+linkDb("aidiacht_an_dara_díochlaonadh_links")]
          li an tríú díochlaonadh #[+linkDb("aidiacht_an_tríú_díochlaonadh_links")]
          li baininscneach #[+linkDb("aidiacht_baininscneach_links")]
          li breischéim #[+linkDb("aidiacht_breischéim_links")]
          li coimriú #[+linkDb("aidiacht_coimriú_links")]
          li consan caol #[+linkDb("aidiacht_consan_caol_links")]
          li consan leathan #[+linkDb("aidiacht_consan_leathan_links")]
          li Córas an tSéimhithe #[+linkDb("aidiacht_Córas_an_tSéimhithe_links")]
          li dobhriathra #[+linkDb("aidiacht_dobhriathra_links")]
          li firinscneach #[+linkDb("aidiacht_firinscneach_links")]
          li foirmeacha neamhrialta #[+linkDb("aidiacht_foirmeacha_neamhrialta_links")]
          li gairmeach #[+linkDb("aidiacht_gairmeach_links")]
          li ginideach #[+linkDb("aidiacht_ginideach_links")]
          li inscne #[+linkDb("aidiacht_inscne_links")]
          li iolra #[+linkDb("aidiacht_iolra_links")]
          li mír/réimír threise #[+linkDb("aidiacht_mír_réimír_threise_links")]
          li séimhiú #[+linkDb("aidiacht_séimhiú_links")]
          li tuiseal #[+linkDb("aidiacht_tuiseal_links")]
          li uatha #[+linkDb("aidiacht_uatha_links")]
          li uimhir #[+linkDb("aidiacht_uimhir_links")]
          li urú #[+linkDb("aidiacht_urú_links")]
    ol
      li ainm briathartha: #[+linkDb("ainm_briathartha_links")]
        ol
          li an chéad réimniú #[+linkDb("ainm_briathartha_an_chéad_réimniú_links")]
          li an dara réimniú #[+linkDb("ainm_briathartha_an_dara_réimniú_links")]
          li díochlaonadh #[+linkDb("ainm_briathartha_díochlaonadh_links")]
          li feidhm aidiachta #[+linkDb("ainm_briathartha_feidhm_aidiachta_links")]
          li feidhm ainmfhocail #[+linkDb("ainm_briathartha_feidhm_ainmfhocail_links")]
          li ginideach #[+linkDb("ainm_briathartha_ginideach_links")]
          li iolra #[+linkDb("ainm_briathartha_iolra_links")]
    ol
      li ainmfhocal: #[+linkDb("ainmfhocal_links")]
        ol
          li ainm dílis #[+linkDb("ainmfhocal_ainm_dílis_links")]
          li ainmfhocail neamhrialta #[+linkDb("ainmfhocal_ainmfhocail_neamhrialta_links")]
          li ainmneacha ceana #[+linkDb("ainmfhocal_ainmneacha_ceana_links")]
          li an ceathrú díochlaonadh #[+linkDb("ainmfhocal_an_ceathrú_díochlaonadh_links")]
          li an chéad díochlaonadh #[+linkDb("ainmfhocal_an_chéad_díochlaonadh_links")]
          li an cúigiú díochlaonadh #[+linkDb("ainmfhocal_an_cúigiú_díochlaonadh_links")]
          li an dara díochlaonadh #[+linkDb("ainmfhocal_an_dara_díochlaonadh_links")]
          li an tríú díochlaonadh #[+linkDb("ainmfhocal_an_tríú_díochlaonadh_links")]
          li baininscneach #[+linkDb("ainmfhocal_baininscneach_links")]
          li blianta #[+linkDb("ainmfhocal_blianta_links")]
          li caolú #[+linkDb("ainmfhocal_caolú_links")]
          li cinnte #[+linkDb("ainmfhocal_cinnte_links")]
          li coimriú #[+linkDb("ainmfhocal_coimriú_links")]
          li comhfhocal #[+linkDb("ainmfhocal_comhfhocal_links")]
          li éiginnte #[+linkDb("ainmfhocal_éiginnte_links")]
          li firinscneach #[+linkDb("ainmfhocal_firinscneach_links")]
          li lagiolraí #[+linkDb("ainmfhocal_lagiolraí_links")]
          li iolra #[+linkDb("ainmfhocal_iolra_links")]
          li leathnú #[+linkDb("ainmfhocal_leathnú_links")]
          li malartú #[+linkDb("ainmfhocal_malartú_links")]
          li séimhiú #[+linkDb("ainmfhocal_séimhiú_links")]
          li tréaniolraí #[+linkDb("ainmfhocal_tréaniolraí_links")]
    ol
      li ainmfhocal san iolra a chríochnaíonn ar chonsan caol: #[+linkDb("ainmfhocal_san_iolra_a_chríochnaíonn_ar_chonsan_caol_links")]
    ol
      li ainmneach: #[+linkDb("ainmneach_links")]
        ol
          li ainmneach iolra #[+linkDb("ainmneach_iolra_links")]
          li ainmneach uatha #[+linkDb("ainmneach_uatha_links")]
    ol
      li ainmneach in ionad an ghinidigh: #[+linkDb("ainmneach_in_ionad_an_ghinidigh_links")]
        ol
          li achoimre #[+linkDb("ainmneach_in_ionad_an_ghinidigh_achoimre_links")]
          li aidiacht cháilíochta #[+linkDb("ainmneach_in_ionad_an_ghinidigh_aidiacht_cháilíochta_links")]
          li aidiacht éiginnte #[+linkDb("ainmneach_in_ionad_an_ghinidigh_aidiacht_éiginnte_links")]
          li ainm briathartha #[+linkDb("ainmneach_in_ionad_an_ghinidigh_ainm_briathartha_links")]
          li ainm cláir #[+linkDb("ainmneach_in_ionad_an_ghinidigh_ainm_cláir_links")]
          li ainm comhlachta #[+linkDb("ainmneach_in_ionad_an_ghinidigh_ainm_comhlachta_links")]
          li ainm cumainn #[+linkDb("ainmneach_in_ionad_an_ghinidigh_ainm_cumainn_links")]
          li ainmfhocal cinnte #[+linkDb("ainmneach_in_ionad_an_ghinidigh_ainmfhocal_cinnte_links")]
          li ainmfhocal éiginnte cáilithe #[+linkDb("ainmneach_in_ionad_an_ghinidigh_ainmfhocal_éiginnte_cáilithe_links")]
          li ainmfhocal i gcáil aidiachta #[+linkDb("ainmneach_in_ionad_an_ghinidigh_ainmfhocal_i_gcáil_aidiachta_links")]
          li cáilitheoir #[+linkDb("ainmneach_in_ionad_an_ghinidigh_cáilitheoir_links")]
          li cainníocht chinnte #[+linkDb("ainmneach_in_ionad_an_ghinidigh_cainníocht_chinnte_links")]
          li cainníocht éiginnte #[+linkDb("ainmneach_in_ionad_an_ghinidigh_cainníocht_éiginnte_links")]
          li chun #[+linkDb("ainmneach_in_ionad_an_ghinidigh_chun_links")]
          li clásal coibhneasta #[+linkDb("ainmneach_in_ionad_an_ghinidigh_clásal_coibhneasta_links")]
          li frásaí ilfhoclacha áirithe #[+linkDb("ainmneach_in_ionad_an_ghinidigh_frásaí_ilfhoclacha_áirithe_links")]
          li ginideach rannaíoch #[+linkDb("ainmneach_in_ionad_an_ghinidigh_ginideach_rannaíoch_links")]
          li réamhfhocal comhshuite #[+linkDb("ainmneach_in_ionad_an_ghinidigh_réamhfhocal_comhshuite_links")]
          li réimír threise #[+linkDb("ainmneach_in_ionad_an_ghinidigh_réimír_threise_links")]
    ol
      li an t-alt: #[+linkDb("an_t_alt_links")]
        ol
          li aibhneacha #[+linkDb("an_t_alt_aibhneacha_links")]
          li ainmfhocal cinnte #[+linkDb("an_t_alt_ainmfhocal_cinnte_links")]
          li bailte #[+linkDb("an_t_alt_bailte_links")]
          li brí choincheapúil #[+linkDb("an_t_alt_brí_choincheapúil_links")]
          li brí theibí #[+linkDb("an_t_alt_brí_theibí_links")]
          li dátaí #[+linkDb("an_t_alt_dátaí_links")]
          li féilte #[+linkDb("an_t_alt_féilte_links")]
          li foirm #[+linkDb("an_t_alt_foirm_links")]
          li laethanta na seachtaine #[+linkDb("an_t_alt_laethanta_na_seachtaine_links")]
          li míonna na bliana #[+linkDb("an_t_alt_míonna_na_bliana_links")]
          li paidreacha #[+linkDb("an_t_alt_paidreacha_links")]
          li réigiúin #[+linkDb("an_t_alt_réigiúin_links")]
          li roisc chatha #[+linkDb("an_t_alt_roisc_chatha_links")]
          li sléibhte #[+linkDb("an_t_alt_sléibhte_links")]
          li teangacha #[+linkDb("an_t_alt_teangacha_links")]
          li teideal duine #[+linkDb("an_t_alt_teideal_duine_links")]
          li teidil oifige #[+linkDb("an_t_alt_teidil_oifige_links")]
          li teidil ranna rialtais #[+linkDb("an_t_alt_teidil_ranna_rialtais_links")]
          li tinnis #[+linkDb("an_t_alt_tinnis_links")]
          li tíortha #[+linkDb("an_t_alt_tíortha_links")]
          li úsáid dháileach #[+linkDb("an_t_alt_úsáid_dháileach_links")]
    ol
      li athruithe tosaigh: #[+linkDb("athruithe_tosaigh_links")]
        ol
          li achoimre #[+linkDb("athruithe_tosaigh_achoimre_links")]

  +hx(2, "B")
    ol
      li briathar: #[+linkDb("briathar_links")]
        ol
          li aidiacht bhriathartha #[+linkDb("briathar_aidiacht_bhriathartha_links")]
          li an chéad réimniú #[+linkDb("briathar_an_chéad_réimniú_links")]
          li an dara réimniú #[+linkDb("briathar_an_dara_réimniú_links")]
          li an mhír dhiúltach #[+linkDb("briathar_an_mhír_dhiúltach_links")]
          li an modh foshuiteach #[+linkDb("briathar_an_modh_foshuiteach_links")]
          li coimriú #[+linkDb("briathar_coimriú_links")]
          li fréamhacha aonsiollacha #[+linkDb("briathar_fréamhacha_aonsiollacha_links")]
          li fréamhacha ilsiollacha #[+linkDb("briathar_fréamhacha_ilsiollacha_links")]
          li má agus nuair #[+linkDb("briathar_má_agus_nuair_links")]
          li muid #[+linkDb("briathar_muid_links")]
          li ná #[+linkDb("briathar_ná_links")]
          li neamhrialta #[+linkDb("briathar_neamhrialta_links")]
          li neamhspleách #[+linkDb("briathar_neamhspleách_links")]
          li séimhiú #[+linkDb("briathar_séimhiú_links")]
          li spleách #[+linkDb("briathar_spleách_links")]
          li urú #[+linkDb("briathar_urú_links")]

  +hx(2, "C")
    ol
      li an chopail: #[+linkDb("an_chopail_links")]
        ol
          li athruithe tosaigh #[+linkDb("an_chopail_athruithe_tosaigh_links")]
          li clásal coibhneasta díreach #[+linkDb("an_chopail_clásal_coibhneasta_díreach_links")]
          li clásal coibhneasta indíreach #[+linkDb("an_chopail_clásal_coibhneasta_indíreach_links")]
          li cónaisc #[+linkDb("an_chopail_cónaisc_links")]
          li dá #[+linkDb("an_chopail_dá_links")]
          li feidhmeanna #[+linkDb("an_chopail_feidhmeanna_links")]
          li foirmeacha cumaisc #[+linkDb("an_chopail_foirmeacha_cumaisc_links")]
          li foirmeacha simplí #[+linkDb("an_chopail_foirmeacha_simplí_links")]
          li forainmneach ceisteach #[+linkDb("an_chopail_forainmneach_ceisteach_links")]
          li i ndiaidh ní #[+linkDb("an_chopail_i_ndiaidh_ní_links")]
          li má #[+linkDb("an_chopail_má_links")]
          li modh foshuiteach #[+linkDb("an_chopail_modh_foshuiteach_links")]
          li réamhfhocail #[+linkDb("an_chopail_réamhfhocail_links")]
          li séimhiú #[+linkDb("an_chopail_séimhiú_links")]
    ol
      li an clásal coibhneasta: #[+linkDb("an_clásal_coibhneasta_links")]
        ol
          li an fhoirm choibhneasta #[+linkDb("an_clásal_coibhneasta_an_fhoirm_choibhneasta_links")]
          li an fhoirm neamhspleách #[+linkDb("an_clásal_coibhneasta_an_fhoirm_neamhspleách_links")]
          li an fhoirm spleách #[+linkDb("an_clásal_coibhneasta_an_fhoirm_spleách_links")]
          li an mhír choibhneasta #[+linkDb("an_clásal_coibhneasta_an_mhír_choibhneasta_links")]
          li clásal breischéime #[+linkDb("an_clásal_coibhneasta_clásal_breischéime_links")]
          li clásal coibhneasta díreach #[+linkDb("an_clásal_coibhneasta_clásal_coibhneasta_díreach_links")]
          li clásal coibhneasta indíreach #[+linkDb("an_clásal_coibhneasta_clásal_coibhneasta_indíreach_links")]
          li clásal idiraisnéiseach #[+linkDb("an_clásal_coibhneasta_clásal_idiraisnéiseach_links")]
          li dobhriathar #[+linkDb("an_clásal_coibhneasta_dobhriathar_links")]
          li fochlásal #[+linkDb("an_clásal_coibhneasta_fochlásal_links")]
          li foirmeacha cumaisc #[+linkDb("an_clásal_coibhneasta_foirmeacha_cumaisc_links")]
          li iartheachtaí #[+linkDb("an_clásal_coibhneasta_iartheachtaí_links")]
          li príomhchlásal #[+linkDb("an_clásal_coibhneasta_príomhchlásal_links")]
          li réamhfhocail #[+linkDb("an_clásal_coibhneasta_réamhfhocail_links")]
          li réamhtheachtaí #[+linkDb("an_clásal_coibhneasta_réamhtheachtaí_links")]
    ol
      li consan caol: #[+linkDb("consan_caol_links")]
        ol
          li aidiacht #[+linkDb("consan_caol_aidiacht_links")]
          li ainmneach iolra #[+linkDb("consan_caol_ainmneach_iolra_links")]
          li ginideach uatha #[+linkDb("consan_caol_ginideach_uatha_links")]
    ol
      li consan inséimhithe: #[+linkDb("consan_inséimhithe_links")]
    ol
      li consan inuraithe: #[+linkDb("consan_inuraithe_links")]
    ol
      li cuspóireach: #[+linkDb("cuspóireach_links")]

  +hx(2, "D")
    ol
      li de chuid: #[+linkDb("de_chuid_links")]
    ol
      li dobhriathar: #[+linkDb("dobhriathar_links")]
        ol
          li aidiacht #[+linkDb("dobhriathar_aidiacht_links")]
          li ainmfhocal #[+linkDb("dobhriathar_ainmfhocal_links")]
          li airde an chompáis #[+linkDb("dobhriathar_airde_an_chompáis_links")]
          li dobhriathar áite #[+linkDb("dobhriathar_dobhriathar_áite_links")]
          li dobhriathar ama #[+linkDb("dobhriathar_dobhriathar_ama_links")]
          li dobhriathar a úsáid go haidiachtach #[+linkDb("dobhriathar_dobhriathar_a_úsáid_go_haidiachtach_links")]
          li dobhriathar breischéime #[+linkDb("dobhriathar_dobhriathar_breischéime_links")]
          li dobhriathar cainníochta #[+linkDb("dobhriathar_dobhriathar_cainníochta_links")]
          li dobhriathar ceisteach #[+linkDb("dobhriathar_dobhriathar_ceisteach_links")]
          li dobhriathar minicíochta #[+linkDb("dobhriathar_dobhriathar_minicíochta_links")]
          li dobhriathar modha #[+linkDb("dobhriathar_dobhriathar_modha_links")]
          li dobhriathar treise #[+linkDb("dobhriathar_dobhriathar_treise_links")]
          li dobhriathar treo #[+linkDb("dobhriathar_dobhriathar_treo_links")]
          li i gcúrsaí tomhais #[+linkDb("dobhriathar_i_gcúrsaí_tomhais_links")]

  +hx(2, "F")
    ol
      li fleiscín: #[+linkDb("fleiscín_links")]
    ol
      li forainmneach: #[+linkDb("forainmneach_links")]
        ol
          li aidiacht shealbhach #[+linkDb("forainmneach_aidiacht_shealbhach_links")]
          li arna #[+linkDb("forainmneach_arna_links")]
          li cuspóir ainm bhriathartha #[+linkDb("forainmneach_cuspóir_ainm_bhriathartha_links")]
          li dhá #[+linkDb("forainmneach_dhá_links")]
          li firinscneach uatha #[+linkDb("forainmneach_firinscneach_uatha_links")]
          li foirm threise #[+linkDb("forainmneach_foirm_threise_links")]
          li forainmneach ceisteach #[+linkDb("forainmneach_forainmneach_ceisteach_links")]
          li forainmneach pearsanta #[+linkDb("forainmneach_forainmneach_pearsanta_links")]
          li forainmneach réamhfhoclach #[+linkDb("forainmneach_forainmneach_réamhfhoclach_links")]
          li forainmneach réamhthagrach #[+linkDb("forainmneach_forainmneach_réamhthagrach_links")]
          li forainmneach taispeántach #[+linkDb("forainmneach_forainmneach_taispeántach_links")]
          li i gcumasc #[+linkDb("forainmneach_i_gcumasc_links")]
          li réamhfhocal #[+linkDb("forainmneach_réamhfhocal_links")]
          li thú #[+linkDb("forainmneach_thú_links")]

  +hx(2, "G")
    ol
      li gach: #[+linkDb("gach_links")]
    ol
      li gairmeach: #[+linkDb("gairmeach_links")]
        ol
          li an mhír ghairmeach #[+linkDb("gairmeach_an_mhír_ghairmeach_links")]
          li gairmeach iolra #[+linkDb("gairmeach_gairmeach_iolra_links")]
          li gairmeach uatha #[+linkDb("gairmeach_gairmeach_uatha_links")]
    ol
      li ginideach: #[+linkDb("ginideach_links")]
        ol
          li baininscneach #[+linkDb("ginideach_baininscneach_links")]
          li cáilitheoir #[+linkDb("ginideach_cáilitheoir_links")]
          li chun #[+linkDb("ginideach_chun_links")]
          li firinscneach #[+linkDb("ginideach_firinscneach_links")]
          li lagiolraí #[+linkDb("ginideach_lagiolraí_links")]
          li tréaniolraí #[+linkDb("ginideach_tréaniolraí_links")]
    ol
      li giorrúchán: #[+linkDb("giorrúchán_links")]
        ol
          li feidhm aidiachtach #[+linkDb("giorrúchán_feidhm_aidiachtach_links")]
          li gan an t-alt #[+linkDb("giorrúchán_gan_an_t-alt_links")]
          li iolra #[+linkDb("giorrúchán_iolra_links")]
          li leis an alt #[+linkDb("giorrúchán_leis_an_alt_links")]

  +hx(2, "L")
    ol
      li logainmneacha: #[+linkDb("logainmneacha_links")]
        ol
          li aibhneacha #[+linkDb("logainmneacha_aibhneacha_links")]
          li bailte #[+linkDb("logainmneacha_bailte_links")]
          li Éire #[+linkDb("logainmneacha_Éire_links")]
          li réigiúin #[+linkDb("logainmneacha_réigiúin_links")]
          li sléibhte #[+linkDb("logainmneacha_sléibhte_links")]
          li tíortha #[+linkDb("logainmneacha_tíortha_links")]
    ol
      li lúibíní: #[+linkDb("lúibíní_links")]

  +hx(2, "R")
    ol
      li réamhfhocal: #[+linkDb("réamhfhocal_links")]
        ol
          li fochlásal réamhfhoclach #[+linkDb("réamhfhocal_fochlásal_réamhfhoclach_links")]
          li i gcumasc #[+linkDb("réamhfhocal_i_gcumasc_links")]
          li réamhfhocal comhshuite #[+linkDb("réamhfhocal_réamhfhocal_comhshuite_links")]
          li séimhiú #[+linkDb("réamhfhocal_séimhiú_links")]
          li urú #[+linkDb("réamhfhocal_urú_links")]

  +hx(2, "S")
    ol
      li séimhiú i ndiaidh ainmfhocal baininscneach: #[+linkDb("séimhiú_i_ndiaidh_ainmfhocal_baininscneach_links")]
    ol
      li séimhiú i ndiaidh ainmfhocal san iolra a chríochnaíonn ar chonsan caol: #[+linkDb("séimhiú_i_ndiaidh_ainmfhocal_baininscneach_séimhiú_i_ndiaidh_ainmfhocal_san_iolra_a_chríochnaíonn_ar_chonsan_caol_links")]
    ol
      li sloinnte: #[+linkDb("sloinnte_links")]

  +hx(2, "T")
    ol
      li tabharthach: #[+linkDb("tabharthach_links")]
        ol
          li an Córas Lárnach #[+linkDb("tabharthach_an_Córas_Lárnach_links")]
          li Córas an tSéimhithe #[+linkDb("tabharthach_Córas_an_tSéimhithe_links")]
          li tabharthach rannaíoch #[+linkDb("tabharthach_tabharthach_rannaíoch_links")]

  +hx(2, "U")
    ol
      li uimhir: #[+linkDb("uimhir_links")]
        ol
          li achoimre #[+linkDb("uimhir_achoimre_links")]
          li aidiacht #[+linkDb("uimhir_aidiacht_links")]
          li an t-alt #[+linkDb("uimhir_an_t-alt_links")]
          li bunuimhir #[+linkDb("uimhir_bunuimhir_links")]
          li codán #[+linkDb("uimhir_codán_links")]
          li córas seanbhunaithe #[+linkDb("uimhir_córas_seanbhunaithe_links")]
          li córas simplithe #[+linkDb("uimhir_córas_simplithe_links")]
          li déag #[+linkDb("uimhir_déag_links")]
          li deicheanna #[+linkDb("uimhir_deicheanna_links")]
          li figiúirí #[+linkDb("uimhir_figiúirí_links")]
          li ginideach #[+linkDb("uimhir_ginideach_links")]
          li leaganacha iolra #[+linkDb("uimhir_leaganacha_iolra_links")]
          li maoluimhir #[+linkDb("uimhir_maoluimhir_links")]
          li orduimhir #[+linkDb("uimhir_orduimhir_links")]
          li séimhiú #[+linkDb("uimhir_séimhiú_links")]
          li uimhir dheachúlach #[+linkDb("uimhir_uimhir_dheachúlach_links")]
          li uimhir phearsanta #[+linkDb("uimhir_uimhir_phearsanta_links")]
          li urú #[+linkDb("uimhir_urú_links")]
